In [1]:
#SINTAKS FOR
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [2]:
#SINTAKS WHILE
i = 0
while i<10:
    print(i)
    i = i + 1

0
1
2
3
4
5
6
7
8
9

In [3]:
# 2. List
# Deklarasi List
nilai = [30,40,50,60,70,80,90]
print(nilai)

[30, 40, 50, 60, 70, 80, 90]

In [4]:
#Dapat berisi String
peserta = ['Ani','Budi','Catra','Desi']
print(peserta)

['Ani', 'Budi', 'Catra', 'Desi']

In [5]:
#Dapat juga berisi campuran tipe data
campuran = ['Big',2.5, 90, 'Data']
print(campuran)

['Big', 2.5, 90, 'Data']

In [6]:
## 2.1 List Index
print(nilai[0])
print(nilai[1])
print(nilai[-4])
print(nilai[-2])

30
40
60
80

### 2.2 Menambah Elemen ke Dalam List

In [7]:
nilai.append(40)

In [8]:
print(nilai)

[30, 40, 50, 60, 70, 80, 90, 40]

### 2.3 Slicing List

In [20]:
print(nilai[2:5]) #elemen ke 3 sampai 5

[50, 60, 70]

In [19]:
print(nilai[-6:-5])

[50]

In [25]:
print(nilai[:-5]) #dari belakang sampai 5 terakhir

[30, 40, 50]

In [17]:
print(nilai[5:])

[80, 90, 40]

In [18]:
print(nilai[:])

[30, 40, 50, 60, 70, 80, 90, 40]

### 2.4 Perulangan dalam List

In [26]:
for n in nilai:
    print(n)

30
40
50
60
70
80
90
40

In [27]:
# ALGORITMA RATA-RATA
total = 0
for n in nilai:
    total = total + n
    
rata = total / len(nilai)
print(rata)

57.5

### Lookup Nilai dalam List

In [34]:
n = 95
if n in nilai:
    print(n, "ada dalam list")
else:
    print(n, "tidak ada dalam list")

95 tidak ada dalam list

### using index

In [41]:
for n in nilai:
    print (n)
#depan index, belakang nilai
for i,n in enumerate(nilai):
    print(i,n)

30
40
50
60
70
80
90
40
0 30
1 40
2 50
3 60
4 70
5 80
6 90
7 40

### 2.5 Latihan

In [43]:
#Tampilkan Nilai yang Lebih dari sama dengan rata-ratanya
print(rata)

57.5

In [48]:
result = []

for n in nilai:
    if n >= rata: result.append(n)
print(result)

[60, 70, 80, 90]

## 3. Tuple

In [49]:
# Deklarasi Tuple
bulan = ("Januari","Februari","Maret","April","Mei","Juni","Juli","Agustus","September","Oktober","November","Desember")
print(bulan)

('Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember')

### 3.1 Akses Elemen dan Slicing

In [50]:
print(bulan[0])
print(bulan[4])
print(bulan[-1])
print(bulan[-3])

Januari
Mei
Desember
Oktober

In [51]:
print(bulan[2:5])

print(bulan[:-5])

print(bulan[5:])

print(bulan[:])

('Maret', 'April', 'Mei')
('Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli')
('Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember')
('Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember')

### 3.2 perulangan dalam tuple

In [53]:
for b in bulan:
    print(b)

Januari
Februari
Maret
April
Mei
Juni
Juli
Agustus
September
Oktober
November
Desember

## 4. Dictionary

### 4.1 Membuat dan Mengakses Dictionary

In [57]:
#syntax key:value
siswa = {'Nama': 'Budi', 'Umur': 7, 'JenisKelamin': 'Laki-Laki'}
siswa2 = {'Nama': 'Ani', 'Umur': 8, 'JenisKelamin': 'Perempuan'}
print(siswa)
print(siswa['Nama'])
print(siswa['Umur'])
print(siswa['JenisKelamin'])

{'Nama': 'Budi', 'Umur': 7, 'JenisKelamin': 'Laki-Laki'}
Budi
7
Laki-Laki

In [58]:
list_siswa = []
list_siswa.append(siswa)
list_siswa.append(siswa2)

In [59]:
print(list_siswa)

[{'Nama': 'Budi', 'Umur': 7, 'JenisKelamin': 'Laki-Laki'}, {'Nama': 'Ani', 'Umur': 8, 'JenisKelamin': 'Perempuan'}]

In [62]:
print(list_siswa[0])

{'Nama': 'Budi', 'Umur': 7, 'JenisKelamin': 'Laki-Laki'}

In [63]:
print(list_siswa[0]['Umur'])

7

In [67]:
siswa2['Nama'] = 'Nani' #ketika diubah, list juga berubah

In [65]:
print(siswa2)

{'Nama': 'Nani', 'Umur': 8, 'JenisKelamin': 'Perempuan'}

In [76]:
print(list_siswa)

[{'Nama': 'Budi', 'Umur': 7, 'JenisKelamin': 'Laki-Laki', 'Alamat': 'Jl. Kaliurang KM 5', 'Nilai': [30, 40, 50, 60, 70, 80, 90, 40]}, {'Nama': 'Nani', 'Umur': 8, 'JenisKelamin': 'Perempuan'}]

### 4.3 Menambahkan Elemen

In [69]:
siswa['Alamat'] = "Jl. Kaliurang KM 5"
print(siswa)

{'Nama': 'Budi', 'Umur': 7, 'JenisKelamin': 'Laki-Laki', 'Alamat': 'Jl. Kaliurang KM 5'}

In [74]:
print(list_siswa)

[{'Nama': 'Budi', 'Umur': 7, 'JenisKelamin': 'Laki-Laki', 'Alamat': 'Jl. Kaliurang KM 5'}, {'Nama': 'Nani', 'Umur': 8, 'JenisKelamin': 'Perempuan'}]

In [75]:
# List sebagai nilai dari elemen Dictionary
siswa["Nilai"] = nilai
print(siswa)

{'Nama': 'Budi', 'Umur': 7, 'JenisKelamin': 'Laki-Laki', 'Alamat': 'Jl. Kaliurang KM 5', 'Nilai': [30, 40, 50, 60, 70, 80, 90, 40]}

In [80]:
print(list_siswa[0]['Nilai'][2])

50

In [85]:
for k,v in siswa.items(): #iterate item, value
    print(k,v)

Nama Budi
Umur 7
JenisKelamin Laki-Laki
Alamat Jl. Kaliurang KM 5
Nilai [30, 40, 50, 60, 70, 80, 90, 40]

In [90]:
#loop list of dictionary
for l in list_siswa: 
    print("==============")
    for k,v in l.items():
        print(k,v)

==============
Nama Budi
Umur 7
JenisKelamin Laki-Laki
Alamat Jl. Kaliurang KM 5
Nilai [30, 40, 50, 60, 70, 80, 90, 40]
==============
Nama Nani
Umur 8
JenisKelamin Perempuan

## 5. Operasi String

### 5.1 Slicing dan Akses per Karakter

In [77]:
nama = "Tutorial Bahasa Pemrograman Python"
print(nama[0:6])
print(nama[20:30])

Tutori
ograman Py

In [78]:
for n in nama:
    print(n)

T
u
t
o
r
i
a
l

B
a
h
a
s
a

P
e
m
r
o
g
r
a
m
a
n

P
y
t
h
o
n

### 5.2 Merubah String menjadi list Kata

In [94]:
kata = nama.split() #split kosong = spasi
print(kata)
print(kata[0])
print(kata[2])

paragraf = "Pada hari minggu kuturut ayah ke kota. Naik Delman istimewa kududuk di muka. Duduk disamping pak kusir yang sedang bekerja"
kalimat = paragraf.split(".")
print(kalimat)
print(kalimat[2])

['Tutorial', 'Bahasa', 'Pemrograman', 'Python']
Tutorial
Pemrograman
['Pada hari minggu kuturut ayah ke kota', ' Naik Delman istimewa kududuk di muka', ' Duduk disamping pak kusir yang sedang bekerja']
 Duduk disamping pak kusir yang sedang bekerja

### 5.3 Pencarian kata dalam String

In [86]:
cari = 'Python'
if cari in nama:
    print("Found!")
else:
    print("Not Found!")

Found!

In [105]:
aa = "ABBCDEFG ABAB"
cari2 = 'AB'
cnt = 0
if cari2 in aa:
    cnt += 1
    print("Found!")
else:
    print("Not Found!")
print(cnt)

Found!
1

### 5.4 Replace String

In [87]:
paragraf = "Pada hari minggu kuturut ayah ke kota. Naik Delman istimewa kududuk di muka. Duduk disamping pak kusir yang sedang bekerja"
paragraf = paragraf.replace('minggu','senin')
paragraf = paragraf.replace('ayah','ibu')
print(paragraf)

Pada hari senin kuturut ibu ke kota. Naik Delman istimewa kududuk di muka. Duduk disamping pak kusir yang sedang bekerja

### 5.5 Panjang String, Lowercase, Uppercase

In [91]:
print(len(nama))
print(nama.upper())
print(nama.lower())

34
TUTORIAL BAHASA PEMROGRAMAN PYTHON
tutorial bahasa pemrograman python

# LATIHAN 2Â¶
Diberikan sekumpulan Nilai Random antara 0 sampai dengan 100 sebanyak 250 nilai. Buatlah program untuk melakukan hal berikut:

Tampilkan Angka Ganjil dari ke 50 nilai tersebut

Tampilkan berapa banyak yang mendapatkan nilai lebih dari 70

Tampilkan standar deviasi dari sekumpulan nilai tersebut

Tampilkan nilai maksimum dan minimum

Tampilkan modus dari sekumpulan nilai tersebut

In [116]:
#Tugas List Nilai
import random

# GENERATE RANDOM
nilaiTugas = []
for i in range(250):
    nilaiTugas.append(random.randrange(1,100,1))

print(nilaiTugas)

# TAMPILKAN:
# ganjil
# nilai > 70
ganjil = []
lt70 = []
for n in nilaiTugas:
    if (n%2 !=0):
        ganjil.append(n)
    if (n > 70):
        lt70.append(n)
    
print(ganjil)
print(lt70)

# standar deviasi
# maksimum
print(max(nilaiTugas))
# minimum
print(min(nilaiTugas))
# modus

[4, 33, 90, 17, 53, 40, 62, 91, 90, 19, 61, 49, 45, 29, 17, 24, 67, 93, 15, 13, 84, 92, 39, 90, 47, 83, 20, 98, 90, 84, 49, 29, 46, 80, 40, 48, 90, 19, 16, 66, 61, 76, 87, 54, 86, 54, 60, 13, 22, 46, 30, 71, 33, 32, 20, 56, 94, 16, 79, 61, 83, 10, 56, 58, 84, 43, 3, 71, 97, 83, 94, 14, 50, 50, 77, 50, 41, 45, 8, 16, 27, 34, 3, 25, 52, 37, 24, 11, 83, 12, 92, 93, 85, 96, 63, 54, 67, 20, 16, 35, 99, 22, 99, 13, 19, 99, 90, 70, 37, 16, 33, 8, 30, 68, 47, 70, 2, 55, 87, 71, 53, 80, 89, 70, 20, 23, 66, 50, 94, 53, 34, 20, 7, 85, 15, 56, 61, 45, 33, 61, 32, 85, 44, 5, 14, 62, 7, 8, 71, 71, 23, 1, 2, 64, 37, 34, 8, 15, 21, 67, 37, 92, 78, 32, 4, 97, 84, 9, 12, 20, 94, 90, 97, 13, 91, 60, 40, 51, 72, 34, 54, 48, 6, 2, 77, 44, 46, 3, 15, 34, 96, 81, 6, 15, 84, 51, 28, 97, 35, 71, 80, 11, 96, 57, 14, 47, 5, 7, 58, 78, 36, 91, 34, 53, 27, 77, 76, 6, 13, 86, 24, 88, 77, 39, 5, 33, 51, 4, 94, 88, 23, 79, 32, 80, 58, 36, 93, 51, 72, 36, 53, 24, 46, 82, 2, 85, 89, 68, 44, 9]
[33, 17, 53, 91, 19, 61, 49, 45, 29, 17, 67, 93, 15, 13, 39, 47, 83, 49, 29, 19, 61, 87, 13, 71, 33, 79, 61, 83, 43, 3, 71, 97, 83, 77, 41, 45, 27, 3, 25, 37, 11, 83, 93, 85, 63, 67, 35, 99, 99, 13, 19, 99, 37, 33, 47, 55, 87, 71, 53, 89, 23, 53, 7, 85, 15, 61, 45, 33, 61, 85, 5, 7, 71, 71, 23, 1, 37, 15, 21, 67, 37, 97, 9, 97, 13, 91, 51, 77, 3, 15, 81, 15, 51, 97, 35, 71, 11, 57, 47, 5, 7, 91, 53, 27, 77, 13, 77, 39, 5, 33, 51, 23, 79, 93, 51, 53, 85, 89, 9]
[90, 91, 90, 93, 84, 92, 90, 83, 98, 90, 84, 80, 90, 76, 87, 86, 71, 94, 79, 83, 84, 71, 97, 83, 94, 77, 83, 92, 93, 85, 96, 99, 99, 99, 90, 87, 71, 80, 89, 94, 85, 85, 71, 71, 92, 78, 97, 84, 94, 90, 97, 91, 72, 77, 96, 81, 84, 97, 71, 80, 96, 78, 91, 77, 76, 86, 88, 77, 94, 88, 79, 80, 93, 72, 82, 85, 89]
99
1

In [117]:
#Tugas Word Count